black==23.12.1
faiss-cpu==1.7.4
google-ai-generativelanguage==0.3.3
google-api-core==2.15.0
google-generativeai==0.2.2
langchain==0.0.348
langchain-community==0.0.13
langchain-core==0.1.11
langchain-google-genai==0.0.6
PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit==1.25.0
streamlit-chat==0.1.1
virtualenv==20.24.7
